<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Olá, bem vindo ao WorkSquad</h1>
		<p>Contamos com milhares de profissionais freelancers talentosos espalhados pelo mundo, prontos para atender as suas necessidades. Cadastre o seu projeto, avalie as propostas recebidas e em breve receberá a solução, com qualidade e compromisso característicos do WorkSquad.</p>
		<p><a class="btn btn-primary btn-lg" ui-sref="appPortal.UsuarioCadastro" role="button">Cadastrar »</a></p>
	</div>
</div>
<div class="container">
	<!-- Example row of columns -->
	<div class="row" >
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="text-center">Prestador 1</h3></div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$200 / Hora</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 Suporte</li>
				</ul>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="text-center">Prestador 2</h3></div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$103 / Hora</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 Suporte</li>
				</ul>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="text-center">Prestador 3</h3></div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$100 / Hora</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 Suporte</li>
				</ul>
				
			</div>
		</div>
	</div>
	
	<hr>
	<footer>
		<p>© 2016 Company, Inc.</p>
	</footer>
	</div> <!-- /container -->