<br /><br /><br />
{{error}}
<div class="container">
	<div class="row" autofocus>
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form role="form">
				
				<div ng-if="FlgCadastro" class="alert alert-success fade in" style="margin-top:18px;" focus>
					<a href="" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
					<strong>Salvo com sucesso!</strong> Cadastro salvo com sucesso.Faça o login.
				</div>
                
                <div ng-if="!FlgSenha" class="alert alert-warning" style="margin-top:18px;" focus>
					<a href="" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
					<strong>Atenção!</strong> As senhas não batem!
				</div>

				<h2>Por favor<small> Cadastre-se</small></h2>
				<hr class="colorgraph">
				
				<div class="form-group">
					<select name="" class="form-control input-lg" ng-model="entid.user.tipo" placeholder="Tipo de cadastro">
						<option value=""></option>
						<option value="Cliente">Cliente</option>
						<option value="Prestador">Prestador</option>
					</select>
					
				</div>
				
				
				<div class="form-group">
					<input type="text" name="display_name" ng-model="entid.user.login" id="display_name" class="form-control input-lg" placeholder="Nome de usuário" tabindex="3" >
				</div>
				
				<div class="form-group">
					<input type="email" name="email" ng-model="entid.user.email" id="email" class="form-control input-lg" placeholder="Email" tabindex="4" autofocus>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password" ng-model="entid.user.senha" id="password" class="form-control input-lg" placeholder="Senha" tabindex="5">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" ng-model="verifSenha" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirmação de senha" tabindex="6" >
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-8 col-sm-9 col-md-9">
						Clicando em <strong class="label label-primary">Registrar</strong>, você está aceitando nossos <a href="" data-toggle="modal" data-target="#t_and_c_m">Termos e condições</a> para se cadastrar.
					</div>
				</div>
				
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-md-6"><input type="submit" ng-click="CadastrarUser(entid, verifSenha)" value="Registrar" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
					<div class="col-xs-12 col-md-6"><a href="" data-toggle="modal" data-target="#myModal" class="btn btn-success btn-block btn-lg">Login</a></div>
				</div>
			</form>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">Termos & Condições</h4>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Eu aceito</button>
				</div>
			</div>
		</div>
	</div>
</div>
<br />