<div style="text-align: center" class="jumbotron ng-scope">
	<h2> Serviços utilizados</h2>
	<p></p>
</div>
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
	
	<div class="row mt">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Serviços que foram contratados</b></div>
				<div class="panel-body">
					
					<div class="content-panel">
						<table class="table table-striped table-advance table-hover">
							<thead>
								<tr>
									<th> Serviço</th>
									<th class="hidden-phone"> Categoria </th>
									<th> Valor/Hora </th>
									<th> Voluntário</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="servico in servicos">
									<td>{{ servico.nome }}</td>
									<td class="hidden-phone">{{ servico.categoria }}</td>
									<td>{{ servico.valor }}</td>
									<td>
									<span class="label label-info label-mini">{{ servico.voluntario ? 'Sim' : 'Não' }}</span>
									<!-- <span ng-repeat="rating in ratings">
										<div ng-model="rating1" star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)"></div>
									</span> -->
									
								</td>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
