<div class="jumbotron" style="text-align: center">
  <h2> Serviços Contratados</h2>
  <p></p>
</div>
<div class="row">
  
  <div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">Carpinteiro</h3>
        <h5 class="widget-user-desc">Matheus Ediley</h5>
      </div>
      <div class="widget-user-image">
        <i class="glyphicon glyphicon-briefcase"></i>
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">R$ 3.000,00</h5>
              <span class="description-text">Total gasto</span>
            </div>
          </div>
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">300 horas</h5>
              <span class="description-text">Total de horas</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">R$ 10,00/H</h5>
              <span class="description-text">preço/Hora</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">Carpinteiro</h3>
        <h5 class="widget-user-desc">Matheus Ediley</h5>
      </div>
      <div class="widget-user-image">
        <i class="glyphicon glyphicon-briefcase"></i>
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">R$ 3.000,00</h5>
              <span class="description-text">Total gasto</span>
            </div>
          </div>
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">300 horas</h5>
              <span class="description-text">Total de horas</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">R$ 10,00/H</h5>
              <span class="description-text">preço/Hora</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">Carpinteiro</h3>
        <h5 class="widget-user-desc">Matheus Ediley</h5>
      </div>
      <div class="widget-user-image">
        <i class="glyphicon glyphicon-briefcase"></i>
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">R$ 3.000,00</h5>
              <span class="description-text">Total gasto</span>
            </div>
          </div>
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">300 horas</h5>
              <span class="description-text">Total de horas</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">R$ 10,00/H</h5>
              <span class="description-text">preço/Hora</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>