{{error}}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			
				<br />
				<h2>Cadastro de serviços<br /><small>  Por favor,cadastre um serviço.</small></h2>
				* Serviços voluntários cadastrados rendem 10 pontos!
				<hr class="colorgraph">
				<div ng-if="Flg" class="alert alert-success fade in" style="margin-top:18px;" focus>
					<a href="" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
					<strong>Salvo com sucesso!</strong> Serviço salvo com sucesso.
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<input type="text" ng-model="servico.nome" class="form-control" placeholder="Informe um titulo para o serviço..." tabindex="1">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox" ng-model="servico.voluntario" aria-label="Checkbox for following text input">
							</span>
							<input type="text" class="form-control" disabled="disabled" value="Voluntário" aria-label="Text input with checkbox">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="input-group">
							<span class="input-group-addon">R$ </span>
							<input type="search" ng-model="servico.valor" class="form-control" placeholder="Valor/Hora	" tabindex="3">
						</div>
					</div>
					
				</div>
				<br />
				<div class="row">
					<div class="col-xs-12">
						<div class="input-group">
							<span class="input-group-addon">Categoria </span>
							<input type="search" ng-model="servico.categoria" class="form-control" class="form-control" placeholder="Digite uma categoria" tabindex="3">
						</div>
					</div>
				</div>
				
				<br />
				<div class="row">
					<div class="col-md-12">
						<tag-manager tags="tags"></tag-manager>
					</div>
				</div>
				
				<br />
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-primary">
							<div class="panel-heading">Horário de inicio e término de expediente</div>
							<div class="panel-body">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="input-group">
										<span class="input-group-addon">Hora Inicio</span>
										<input type="text" ng-model="servico.horarioInicio" ui-mask=" 99:99"  ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" tabindex="5">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="input-group">
										<span class="input-group-addon">Hora Final</span>
										<input type="text" ng-model="servico.horarioFim" ui-mask=" 99:99"  ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" tabindex="5">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-primary">
							<div class="panel-heading">Descrição do serviço</div>
							<div class="panel-body">
								<div class="col-xs-12">
									
									<div class="form-group">
										<textarea  ng-model="servico.descricao" placeholder="Escreva aqui,uma breve descrição do serviço" rows="3" class="form-control"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-md-6"><button ng-click="SalvarServico(servico)" class="btn btn-success btn-block btn-lg"><i class="glyphicon glyphicon-ok"></i> Salvar</button></div>
					<div class="col-xs-12 col-md-6"><button ng-click="LimparCampos()" class="btn btn-danger btn-block btn-lg"><i class="glyphicon glyphicon-remove"></i>  Cancelar</button></div>
				</div>
				<br />
			
		</div>
	</div>
</div>