<div style="text-align: center" class="jumbotron">
    <h2> Serviços Contratados</h2>
    <p></p>
</div>
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    
    <div class="row mt">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Serviços que foram contratados</b></div>
                <div class="panel-body">
                    
                    <div class="content-panel">
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th> Serviço</th>
                                    <th class="hidden-phone"> Valor </th>
                                    <th> Pontos </th>
                                    <th> Quantidade</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="servico in servicos">
                                    <td><a href="#">{{ servico.nome }}</a></td>
                                    <td class="hidden-phone">{{ servico.valor }}</td>
                                    <td>{{ servico.pontos }}</td>
                                    <td><span class="label label-info label-mini">{{ servico.quantidade }}</span>
                                    
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>